
.ipynb_checkpoints/W2D1 - Exercise 1-checkpoint.ipynb
.ipynb_checkpoints/W2D1-Exercise1_sol-checkpoint.ipynb
.ipynb_checkpoints/W2D2-Exercise-checkpoint.ipynb
.ipynb_checkpoints/W2D2-Exercise_sol-checkpoint.ipynb
.ipynb_checkpoints/W3D1 Demo-checkpoint.ipynb
.ipynb_checkpoints/W3D1-Exercise3-checkpoint.ipynb
.ipynb_checkpoints/W3D1-Exercise3_sol-checkpoint.ipynb
Discipline&Punish.txt
