
Discipline&Punish.txt
.ipynb_checkpoints/W3D1-Exercise3_sol-checkpoint.ipynb
.ipynb_checkpoints/W3D1-Exercise3-checkpoint.ipynb
.ipynb_checkpoints/W3D1 Demo-checkpoint.ipynb
.ipynb_checkpoints/W2D2-Exercise_sol-checkpoint.ipynb
.ipynb_checkpoints/W2D2-Exercise-checkpoint.ipynb
.ipynb_checkpoints/W2D1-Exercise1_sol-checkpoint.ipynb
.ipynb_checkpoints/W2D1 - Exercise 1-checkpoint.ipynb
.ipynb_checkpoints/W3D2-Exercise-checkpoint.ipynb
new_file.txt
sodas_people_emails.txt
.ipynb_checkpoints/Assignment_1-checkpoint.ipynb
.ipynb_checkpoints/W3D2-Demo-checkpoint.ipynb
__pycache__/keys.cpython-37.pyc
AppCred.py
AppCred2.py
W3D2-Exercise_sbsol.ipynb
__pycache__/AppCred.cpython-37.pyc
.ipynb_checkpoints/W3D2-Exercise_sbsol-checkpoint.ipynb
