
.ipynb_checkpoints/exercise_3_draft-checkpoint.ipynb
.ipynb_checkpoints/W2D2-Exercise_sol-checkpoint.ipynb
.ipynb_checkpoints/W3D2-Demo-checkpoint.ipynb
__pycache__/AppCred.cpython-37.pyc
AppCred.py
